<%- include('./src/header'); %>
<%- include('./src/headerbar'); %>
        <div id="content" class="main-content">
            <div class="container">
                <div class="container">
                    <div class="row layout-top-spacing">
                        <div class="col-lg-12 col-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">                                
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Sınıf Ekle</h4>
                                        </div>
                                    </div>
                                </div>
                                <% if (message.length > 0 ) { %>
                                    <div class="<%= message[1] %>"  role="alert"> 
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
                                        <%= message[0] %> 
                                    </div>
                                <% } %>
                                    <form action='/yonetim/sinif_ekle/' method='POST'>
                                        <div class="form-group mb-4">
                                            <label for="name">Sınıf Adı</label>
                                            <input type="text" name="name" class="form-control" id="name" placeholder="Sınıf Adı Giriniz...">
                                        </div>
                                        <div class="form-group mb-4">
                                            <label for="classTeacher">Danışman Adı</label>
                                            <input type="text" name="classTeacher" class="form-control" id="classTeacher" placeholder="Danışman Öğretmen Giriniz...">
                                        </div>
                                        <div class="form-group mb-4">
                                            <label for="exampleFormControlSelect1">Sınıf Düzey</label>
                                            <select name='classType' class="form-control" id="exampleFormControlSelect1">
                                                <option value='Belirtilmedi'>Belirtilmedi</option>
                                                <option value='12'>12</option>
                                                <option value='11'>11</option>
                                                <option value='10'>10</option>
                                                <option value='9'>9</option>
                                            </select>
                                        </div>
                                        <button type="submit" name="action" class="mt-4 mb-4 btn btn-primary">EKLE</button>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
<%- include('./src/footer'); %> 