<%- include('./src/header'); %> <%- include('./src/headerbar'); %>

<div id="content" class="main-content">
  <div class="layout-px-spacing">
    <div class="row layout-top-spacing" id="cancel-row">
      <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
        <div class="widget-content widget-content-area br-6">
          <div class="table-responsive mb-4 mt-4">
            <table
              id="html5-extension"
              class="table table-hover non-hover"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>Test Adı</th>
                  <th>Sınıf Düzeyi</th>
                  <th>Soru Sayısı</th>
                  <th>İşlemler</th>
                </tr>
              </thead>
              <tbody>
                <% find_test.forEach(function(test){ %>
                <tr>
                  <td><%= test.name %></td>
                  <td><%= test.classStatus %></td>
                  <td><%= test.questions.length %></td>
                  <td>
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split"
                        id="dropdownMenuReference1"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        data-reference="parent"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-chevron-down"
                        >
                          <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                      </button>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuReference1"
                      >
                        <a
                          class="dropdown-item"
                          href="../../../testler/test/<%= test._id %>"
                          >Testi Çöz</a
                        >
                      </div>
                    </div>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  END CONTENT AREA  -->
  <%- include('./src/footer'); %>
</div>
